html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 10px 0;
  font-family: "Lucida Handwriting", cursive;
  color: skyblue;
  animation: slide 5s ease 2 alternate;
}

@keyframes slide {
  from {
    color: skyblue;
  }
  to {
    color: red;
  }
}
.wrapper {
  padding: 5rem;
  height: 100vh;
  display: grid;
  gap: 5px;
  margin-bottom: 10px;

  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "item-1 item-2 item-3"
    "item-4 item-2 item-9 "
    "item-5 item-5 item-9 "
    "item-5  item-5 item-10 "
    "item-6 item-7 item-8";
}

.wrapper > * {
  display: grid;
  justify-content: center;
  align-items: center;
}

.wrapper > div {
  animation: move 5s 2 alternate;
}

@keyframes move {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.item-1 {
  grid-area: item-1;
  background: url(img/1.jpg) no-repeat center center;
  background-size: cover;
}

.item-2 {
  grid-area: item-2;
  background: url(img/2.jpg) no-repeat center center;
  background-size: cover;
  /* height: auto; */
}
.item-3 {
  grid-area: item-3;
  background: url(img/3.jpg) no-repeat center center;
  background-size: cover;
}

.item-4 {
  grid-area: item-4;
  background: url(img/4.jpg) no-repeat center center;
  background-size: cover;
}
.item-5 {
  grid-area: item-5;
  background: url(img/5.jpg) no-repeat center center;
  background-size: cover;
}

.item-6 {
  grid-area: item-6;
  background: url(img/6.jpg) no-repeat center center;
  background-size: cover;
}

.item-7 {
  grid-area: item-7;
  background: url(img/7.jpg) no-repeat center center;
  background-size: cover;
}

.item-8 {
  grid-area: item-8;
  background: url(img/8.jpg) no-repeat center center;
  background-size: cover;
}

.item-9 {
  grid-area: item-9;
  background: url(img/9.jpg) no-repeat center center;
  background-size: cover;
}
.item-10 {
  grid-area: item-10;
  background: url(img/10.jpg) no-repeat center center;
  background-size: cover;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-9,
.item-10 {
  min-height: 10vh;
  border-radius: 15px;
  background-color: rgb(184, 200, 93);
}

.wrapper > div:hover {
  transform: scale(1.2);
  cursor: pointer;

  transition: 2s ease-in-out;

  animation: glow 3s, move 0s;
}

@keyframes glow {
  from {
    box-shadow: 0 0 20px -10px rgb(159, 190, 60);
  }

  to {
    box-shadow: 0 0 10px 10px rgb(200, 93, 195);
  }
}
